<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="/css/newHome.css">
    </head>
    <body dir="rtl">
        <div class="fullscreen">
           {{> menu}}
            <div class="main">
                <div class="welcome">
                    <div class="name">שלום {{nickname}}!</div>
                    <div class="happy">שמחים שחזרת.</div>
                </div>

                <div class="middle">
                    <div class="moodToday">
מצב הרוח שלי היום:
                        {{date}}
                        <br>
                        {{emotionsPicked}}
                    </div>
                    <div class="recommendations">
                        <div class="text">בחירת תחושות</div>
                        <br>
                        מומלץ לבחור את תחושותיך מספר פעמים ביום
                        <br><br>
                        <a class="read" href="/feelings">אני רוצה לבחור</a>
                    </div>
                </div>
                <div class="chart">
                    גרף התקדמות שבועי
                    <canvas id="myChart" style="position: relative"></canvas>
                    <script src="/js/chart.js"></script>

                </div>
            </div>
            <div class="left">
                <div class="peak">
                    <div class="pic">
                    <img src="/img/createToday.png" height="100%" width="100%">
                    </div>
                    <div class="text2">
                        הצצה ליומנים של אחרים
                    </div>
                    <div class="diaryList">
                        {{#if isEmpty}}
                        <div class="text3">
                            אין כרגע יומנים ציבוריים...
                        </div>
                        {{/if}}
                        {{#each lastPosts}}
                            <div class="diaryItem">
                                <img src="/img/heart.png">
                                <a href="/viewThought/{{id}}">היומן של {{username}}</a>
                            </div>
                            <br>
                        {{/each}}
                    </div>
                    <div class="link">
                        <a href="/community">לעוד יומנים בקהילה</a>
                    </div>
                </div>
                <div class="post">
                    <div class="text2">העלאת מחשבה ליומן שלי</div>
                    <div class="text3">שיתוף יכול להקל על הרגשה רעה, והוא דרך מעולה לשיפור מצב הרוח.</div>
                    <div class="share">
                        <a href="/diary" style="color: white;">אני רוצה לשתף</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>