<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/thought.css">
    </head>
    <body dir="rtl">
        <div class="fullscreen">
           <div class="menu">
                <div class="logo">
                    <img src="/img/eran.png" height="100%" width="100%">
                </div>
                <div class="list">
                    <div class="item">
                        <img src="/img/home.png">
                        <a href="/home">דף הבית </a>
                    </div>
                    <div class="item">
                        <img src="/img/myThoughts.png">
                        <a href="/diary">היומן שלי</a>   
                    </div>
                    <div class="item">
                        <img src="/img/community.png">
                        <a href="/viewAllPublicThoughts">קהילה</a>
                    </div>
                    <div class="item">
                        <img src="/img/help.png">
                        <a href="/emergency">עזרה</a>
                    </div>
                    <div class="item">
                        <img src="/img/graph.png">
                        <a href="/home">נתונים</a>
                    </div>
                    <div class="item">
                        <img src="/img/mood.png">
                        <a href="/home">המלצות</a>
                    </div>
                    <div class="item">
                        <img src="/img/settings1.png" height="30%">
                        <a href="/home">הגדרות</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="header">קהילה</div>
                <div class="pub">יומנים ציבוריים</div>
                <div class="pubthoughts">
                    <div class="col1">
                        {{#each public}}
                        {{#if odd}}
                        <div class="thought" id="1">
                            <div class="name">
                                <img src="/img/profile.png">
                                <div class="user">{{username}}</div>
                            </div>
                            <div class="date">
                                <div class="d">{{date}}</div>
                            </div>
                            <div class="headline">{{header}}</div>
                            <div class="content"><a id="mm" href="/viewThought/{{_id}}">קריאת המחשבה</a></div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="col2">
                        {{#each public}}
                        {{#if even}}
                            <div class="thought" id="1">
                                <div class="name">
                                    <img src="/img/profile.png">
                                    <div class="user">{{username}}</div>
                                </div>
                                <div class="date">
                                    <div class="d">{{date}}</div>
                                </div>
                                <div class="headline">{{header}}</div>
                                <div class="content"><a id="mm" href="/viewThought/{{_id}}">קריאת המחשבה</a></div>
                            </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="header2">חיפוש</div>
                <div class="pub">יומנים פרטיים</div>
                <div class="pubthoughts">
                    <div class="col1">
                        {{#each personal}}
                        {{#if odd}}
                        <div class="thought" id="1">
                            <div class="name">
                                <img src="/img/profile.png">
                                <div class="user">{{username}}</div>
                            </div>
                            <div class="date">
                                <div class="d">{{date}}</div>
                            </div>
                            <div class="headline">{{header}}</div>
                            <div class="content"><a id="mm" href="/viewThought/{{_id}}">קריאת ועריכת המחשבה</a></div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="col2">
                        {{#each personal}}
                        {{#if even}}
                            <div class="thought" id="1">
                                <div class="name">
                                    <img src="/img/profile.png">
                                    <div class="user">{{username}}</div>
                                </div>
                                <div class="date">
                                    <div class="d">{{date}}</div>
                                </div>
                                <div class="headline">{{header}}</div>
                                <div class="content"><a id="mm" href="/viewThought/{{_id}}">קריאת ועריכת המחשבה</a></div>
                            </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>